
.header-background {
    height: calc(100vh - 40px);
    position: relative;
}

.header-background__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.header-background__image {
    height: 100%;
    position: absolute;
    width:100%;
}

.header-background p {
    color: white;
    font-size: 5vw;
    font-weight: bold;
    margin: 0;
    margin-top: 3vh;
    text-shadow: 2px 2px 4px #000;
    z-index: 3;
}

.header-logo {
    width: 30vw;
}

