.badge {
    background: $red;
    padding: 1rem 2rem;
}

.card {
    padding: $s-size;
}

.card-container {
    margin: 20px 10vw;
}

.card-extra {
    padding: 0;
    margin: 3vh 0;
}

.card-text {
    padding: 0 3vw;
    text-align: justify;
}

.card-title {
    color: $blue;
    font-size: $xl-size;
    font-weight: 800;
}

.card-title--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $xl-size;
    margin: 3vh 0;
    padding: 0 3vw; 
}



