.card--alt {
    flex: 1 1 0;
}

.card-text--alt {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
   
}

.card-title--alt {
    font-size: $m-size;
}

.maybeLike-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}