html,body
{
    overflow-x: hidden; 
}

#header{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3e/Santiago_de_Chile_de_noche.jpg);
  background-position: center center;
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover;
  background-color: #562f2f;
	position: relative;
	height: 550px;
	margin-top: -1%;
}

#logo{
	display: block;
	position: absolute;
  margin-left: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 70%;
}

.navbar-inverse{
	background-color:rgba(0,0,0,0.85);
	z-index: 9999;
}

.section{
	padding: 2% 5% 2% 5%;
	
}

.section h1{
	text-align: center;
	font-size: 3em;
}

.title{
	font-weight: bold;
	text-align: center;
	padding-bottom: 1%;
	padding-top: 2%;
}

.itemtext{
	border: 2px #ccc solid;
	border-radius: 20px;
	padding: 2%;
	text-align: justify;
	display: inline-block;
	font-size: 1.2em;
}

.descripcion{
}

.extra{
	position: relative;
	margin-top: 3%;
}

.incluye{
	width:100%;
	margin-bottom:4%;
}

.opcional{
	width:100%;
}

.imgdim{	
	position: relative;
  background-repeat: no-repeat;
  background-size: cover;
	
}

#myCarousel{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4%;
}

#santa{
	position: relative;
	width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer{
	background-color: gray;
	padding: 20px 20px 20px 20px;
	text-align: center;
}

#lang{
	position: relative;
	left: 45%
}
