html,body
{
    overflow-x: hidden; 
	font-family: 'Arimo', sans-serif;
}

#page{
	background: #CC4738;
}
.bkgnd{
	margin: 5px;
	background: white;
}

#first{
	padding-top: 50px;
	font-weight: bold;
	font-size: 25px;
}

#header{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3e/Santiago_de_Chile_de_noche.jpg);
  background-position: center center;
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover;
  background-color: #562f2f;
	position: relative;
	height: 550px;
}

#logo{
	display: block;
	position: absolute;
  margin-left: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 50%;
}

.navbar-inverse{
	background-color:rgba(0,0,0,0.85);
	z-index: 9999;
}

.section{
	padding: 2% 5% 2% 5%;
	
}

.section h1{
	text-align: center;
	font-size: 3em;
	font-family: 'Acme', sans-serif;
}

.title{
	font-weight: bold;
	text-align: center;
	padding-bottom: 1%;
	padding-top: 2%;
	font-family: 'Fjalla One', sans-serif;
}

hr{
background-color: #aaa;
height: 1px;
}

.-color: black;itemtext{
	border: 2px #ccc solid;
	border-radius: 20px;
	padding: 2%;
	text-align: justify;
	display: inline-block;
	font-size: 1.2em;
}

.itemtext{
	border: 1px solid #ccc;
    border-radius: 10px;
	text-align: justify;
	padding: 10px 20px;
	font-size: 105%;
	background-color: rgba(255,255,255,0.35);
}

.subtit{
	font-size: 150%;
	font-family: 'Fjalla One', sans-serif;
}

.descripcion{
	text-indent: 20px;
	margin-top:5%;
}

.extra{
	position: relative;

}

.incluye{
	width:100%;
}

.opcional{
	width:100%;
}


.vmaipo:hover{
	color: black;
	cursor: pointer;
}

.vcasa:hover{
	color: black;
	cursor: pointer;
}

.vcolcha:hover{
	color: black;
	cursor: pointer;
}

#vmaipo{
	display: none;
}

#vcasa{
	display: none;
}

#vcolcha{
	display:none;
}

#pre:hover{
	color:black;
	cursor:pointer;
}
#preguntas{
	display:none;
}

.imgdim{	
	position: relative;
  background-repeat: no-repeat;
  background-size: cover;
	
}

#myCarousel{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4%;
}

#santa{
	position: relative;
	width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer{
	background-color: #5C6BC0;
	padding: 20px 20px 20px 20px;
	text-align: center;
}

#footer .itemtext{
	background-color: rgba(255,255,255,0.75);
}

#footer h2{
	font-family: 'Fjalla One', sans-serif;
}

#lang{
	position: relative;
	left: 45%
}

#dev a{
	color: #ff6117;
	font-weight: bold;
}

#dev a:hover{
	color: #993a0d;
}
